{% extends "layout.html" %}
{% block body %}
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>SSH url</th>
    </tr>
  {% for repo in repos %}
    <tr>
      <td>{{ repo.name|safe }}</td>
      <td>{{ repo.ssh_url|safe }}</td>
    </tr>
  {% else %}
    <tr>
      <td><em>Unbelievable.  No repos here so far</em></td>
      <td></td>
    </tr>
  {% endfor %}
  </table>
  <h3>Create new repo</h3>
  <form action="{{ url_for('add_repo') }}" method="post" class="form-inline">
    <div class="form-group">
      <input type="text" size="30" name="name" placeholder="repo name">
    </div>
    <button type="submit" class="btn btb-default">Create</button>
  </form>
{% endblock body %}
